#background {
  background-color: rgb(109, 106, 106);
  background-image: url(../images/8.jpg);
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#loginController * {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginController {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024 px;
  margin-top: 70px;
  margin-left: 250px;
}

#inputContainer {
  width: 400px;
  padding: 40px;
  float: left;
  border-right: 1px solid #fff;
  
}

#inputContainer h2 {
  text-align: center; 
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  margin-top: 5px;
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  line-height: 20px;
  color: #00e600;
}

#inputContainer  p {
  margin-top: 20px;
}

#inputContainer label {
  font-size: 15px;
  margin-top: 10px;
  color: #fef;
}

#inputContainer button {
  width: 100%;
  color: white;
  height: 45px;
  font-size: 18px;
  border: 1px solid #fff;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 20px;
  display: block;
  letter-spacing: 2px;
}

#inputContainer button:hover {
  cursor: pointer;
}

#inputContainer input[type="text"]:focus, 
#inputContainer input[type="email"]:focus,
#inputContainer input[type="password"]:focus{
  outline: none;
  border: 0;
  border-bottom: 2px solid #fff; 
  font-size: 15px;
  
}

#inputContainer button:focus {
  outline: none;
  border: 2px solid #fff
}

#loginText {
  width: 60%;
  float: left;
  padding-left: 30px;
  margin-left: 50px;
  display: table-cell;
  height: 500px;
}



ul {
  list-style: none;
  padding: 0;
}



#loginText li {
  line-height: 2em;
  word-spacing: 2px;
  padding-left: 70px;
  font-size: 22px;
  padding-top: 5px;
  margin-top: 20px;
  font-family: inherit;
  background: url(../images/icons/ticks.png) no-repeat 0 0;
}


#loginText h1 {
  font-size: 70px;
  color: #00e600;
  line-height: 1.2em;
  font-weight: bold;
}

#loginText h2 {
    font-size: 35px;
    font-family: sans-serif;
    margin: 35px 0;
    word-spacing: 2px;
    line-height: 2em;
}

.hasAccountText {
  text-align: center;
  margin-top: 25px;
}

.hasAccountText span {
    font-size: 12px;
    font-weight: bold;
}

.hasAccountText span:hover {
  font-size: 14px;
  cursor: pointer;
}

#inputContainer .errorMessage {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #00e600;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
  opacity: 0.5;
}

input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

#registerForm, 
#loginForm {
  display: none;
}